<!--Listagem dos planetas com opção de excluir-->
<h2>Lista de planetas</h2>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Planeta</th>
            <th scope="col">Clima</th>
            <th scope="col">Terreno</th>
            <th scope="col">Aparições</th>
            </tr>       
    </thead>
    {{#each planetas}}
        <tbody>
            <tr>          
                <td>{{nome}}</td>
                <td>{{clima}}</td>
                <td>{{terreno}}</td>  
                <td>{{aparicoes}}</td>
                <td><form action="/admin/planetas/delete" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form></td>  
            </tr>
        </tbody>
    {{/each}}
</table>
