<h2>Pesquisar</h2>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Planeta</th>
            <th scope="col">Clima</th>
            <th scope="col">Terreno</th>
            </tr>
        
    </thead>
    {{#each planetas}}
        <tbody>
            <tr>          
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{clima}}</td>
                <td>{{terreno}}</td>  
                <td><a href="/planets/{{nome}}"><button  class="btn btn-warning">Pesquisar por nome</button></a></td>
                <td><a href="/planets/id/{{id}}"><button  class="btn btn-warning">Pesquisar por ID</button></a></td>
            </tr>
        </tbody>
    {{/each}}
</table>

