<!--
<body>
<h2><p class="p-3 mb-2 text-center text-warning">Desafio Star Wars</p></h2>
<style>
    body {
        background-color: darkslategray;
    }
</style>


    <img src="/img/a.jpg" class="img-fluid" alt="Imagem responsiva">
</body>

{{#each planetas}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{nome}}</h3>
        <p>{{clima}}</p>
        <p>{{terreno}}</p>
        <a href="/planet/{{nome}}"><button class="btn btn-success">AQUI</button></a>
        <hr>

    </div>
</div>
{{/each}}
-->
<h2>Pesquisar</h2>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Planeta</th>
            <th scope="col">Clima</th>
            <th scope="col">Terreno</th>
            </tr>
        
    </thead>
    {{#each planetas}}
        <tbody>
            <tr>          
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{clima}}</td>
                <td>{{terreno}}</td>  
                <td><a href="/planets/{{nome}}"><button  class="btn btn-warning">Pesquisar por nome</button></a></td>
                <td><a href="/planets/id/{{id}}"><button  class="btn btn-warning">Pesquisar por ID</button></a></td>
            </tr>
        </tbody>
    {{/each}}
</table>

